# Visualising Big Mac Data
Now that we know how to store, update and delete data in pandas, how do we more easily communicate this to people?

## Matplotlib
The matploblib module for python allows us to visualise data through a variety of plot styles that you would be familiar with. This is where we really start to look at **computer science** and start applying mathematics and science using technology.

## Activities
First we're going to import data from the *big_mac_update.csv* file we created previously into a dataframe. You'll need to create a plot using matplotlib which **compares** the cost of Big Macs across all 6 nations in **AUD**. You will need to select the plot type which best represents **comparison**. 

For assistance, you can look at *15 - Visualising Data with matplotlib* and can also look at [Matplotlib Plot Types](https://matplotlib.org/stable/plot_types/index).

In [3]:
import matplotlib.pyplot as plt
import pandas as pd

#Read in the big_mac_update dataset to big_mac_df DataFrame
pd.read_csv("data/new.csv")

#Create the plot using big_mac_df
bigmac_df


#Show the plot

,Unnamed: 0,name,iso_a3,currency_code,local_price,dollar_ex,GDP_dollar,GDP_local,date
0,2014,Venezuela,VEN,VES,56.30,20.70810,3459.154,2.396903e+04,2023-01-01
1,2017,United Arab Emirates,ARE,AED,18.00,3.67305,51305.686,1.884201e+05,2023-07-01
2,2018,Argentina,ARG,ARS,1650.00,275.27500,13655.200,1.785087e+06,2023-07-01
3,2019,Australia,AUS,AUD,7.45,1.48401,65526.118,9.428825e+04,2023-07-01
4,2020,Austria,AUT,EUR,4.81,0.90699,52264.871,4.959295e+04,2023-07-01
...,...,...,...,...,...,...,...,...,...
67,2083,Ukraine,UKR,UAH,105.00,36.93145,4348.570,1.406445e+05,2023-07-01
68,2084,Uruguay,URY,UYU,259.00,37.76500,20221.940,8.324901e+05,2023-07-01
69,2085,United States,USA,USD,5.58,1.00000,76348.494,7.634849e+04,2023-07-01
70,2086,Vietnam,VNM,VND,74000.00,23687.50000,4086.519,9.564814e+07,2023-07-01
71,2087,South Africa,ZAF,ZAR,49.90,17.78375,6694.358,1.095364e+05,2023-07-01

## Pandas and Statistics
Pandas can also be used to make calculations. For instance, we can return the *mean* from a set of values.

### Calculating the Mean
For information on how to calculate averages, read through [What is Pandas Mean for a Certain Column](https://saturncloud.io/blog/what-is-pandas-mean-for-a-certain-column/)

In [ ]:
#Calculate the mean and median price of a Big Mac in AUD and store them in separate variables


#Print both clearly for users